<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beebudget">

    <application
        android:allowBackup="true"
        android:icon="@drawable/uyg_logosu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/uyg_logosu"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeBudget">
        <activity android:name=".Activitys.Gider_Ekle_Sil"></activity>
        <activity android:name=".Activitys.Gelir_Ekle_Sil" />
        <activity android:name=".Activitys.Gider_Sayfasi" />
        <activity android:name=".Activitys.Gelir_Sayfasi" />
        <activity android:name=".Activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.Giris_Activity" />
        <activity android:name=".Activitys.MainActivity" />
    </application>

</manifest>